.date-box {
    .react-datepicker {
        width: 100%;
        border-radius: 0;
        .react-datepicker__navigation {
            margin-top: 21px;
            &:hover {
                background: $primary;
            }
        }
        .react-datepicker__month-container {
            width: 100%;
            .react-datepicker__header {
                background: $white;
                padding-top: 20px;
            }
            .react-datepicker__day-name, 
            .react-datepicker__day, 
            .react-datepicker__time-name {
                width: calc(100% / 8);
            }
            .react-datepicker__day {
                line-height: 3rem;
            }
            .react-datepicker__day--selected, {
                background: $primary;
                font-weight: 600;
            }
            .react-datepicker__day--keyboard-selected {
                background: #ececec;
                &:hover {
                    background: $primary;
                    color: white;
                    font-weight: 600;
                }
            }
            .react-datepicker__current-month {
                color: $primary;
            }
        }
    }
    .react-datepicker__navigation-icon--next::before {
        left: auto;
    }
    .react-datepicker__navigation-icon--next {
        left: -7px;
    }
    .react-datepicker__navigation-icon--previous::before {
        right: auto;
    }
    button.react-datepicker__navigation {
        border: 0;
    }
}