#zippy-root {
  .react-datepicker-wrapper {
    width: 350px;
    .react-datepicker__input-container {
      input {
        max-width: 100% !important;
        text-align: center;
      }
    }
  }

  .date-picker {
    position: relative;
    .MuiSvgIcon-root {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      z-index: 1;
    }
    .form-control {
      padding-left: 40px;
    }
  }
}
