.custom-calendar {
    position: relative;
    .MuiPaper-root {
        padding: 0 !important;
        h2 {
            font-weight: 600;
        }
        span.MuiTypography-root {
            left: 0 !important;
            text-align: end !important;
        }
    }

    .rs__cell {
        .MuiTypography-root.MuiTypography-body1.rs__multi_day.rs__hover__op.css-aotdgp-MuiTypography-root  {
            left: 0;
            text-align: end;
            font-size: 13px !important;
        }
    }
}