.zippy-date-picker {
  background: #fff;
  border: 1px solid #8c8f94;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  input {
    border: none;
    width: 100%;
    text-align: left;
  }
  &.range-picker {
    .react-datepicker-wrapper {
      width: 265px;
    }
  }
}
